.rootDiv {
  width: 100vw;
  height: 100vh;
  background-color: #495867;
}

.infoContainer {
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.controlsContainer {
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #e1d9d1;
  align-items: center;
}

.controlsContainer .MuiSvgIcon-root {
  height: 2em;
  width: 2em;
  max-height: 100px;
  max-width: 100px;
}

.groupCon {
  display: flex;
  flex-direction: column;
}

.map {
  min-width: 300px;
  min-height: 300px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e1d9d1
}

.statusCard {
  min-width: 180px;
  border-radius: 10px;
}

.statusCard .MuiPaper-root {
  min-width: 180px;
  background-color: #e1d9d1;
  border-radius: 10px;
}

.statusBarContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.statusBarCard .success {
  background-color: #4bb543;
  width: 80vw;
  padding: 10px;
  text-align: center;
  color: white;
}

.statusBarCard .warning {
  background-color: yellow;
  width: 80vw;
  padding: 10px;
  text-align: center;
  color: white;
}
